name: Test Telegram Bot

on:
  workflow_dispatch:

jobs:
  test-bot:
    runs-on: ubuntu-latest
    timeout-minutes: 350

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install telegram lib
        run: |
          pip install python-telegram-bot==20.7

      - name: Run test bot
        env:
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
        run: |
          python bot.py
